* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	margin: 0 0 0 13rem;
}
.hero-bg {
	background: url("images/hero.jpg") no-repeat center/cover;
	height: 60vh;
	text-align: center;
	padding: 12rem 0;
	color: #fff;
}
.hero-bg h1 {
	font-size: 2.5rem;
}
.hero-bg h3 {
	margin: 2rem 0 4rem 0;
}
.hero-bg a {
	padding: 1rem;
	background-color: #08b9ff;
	color: #fff;
	font-size: 1rem;
	border-radius: 0.1rem;
}
.hero-bg a:hover {
	background-color: #ff7e8f;
	color: rgb(0, 0, 0);
}
.hero-input {
	display: block;
	text-align: center;
	padding: 7.5rem 0;
}
main {
	padding: 3rem 6rem;
	text-align: center;
}
main p {
	margin: 1rem 0;
}
